<body>
    <p class="heading">3D Drawing</p>
    <div class="gallery-image">
      <div class="img-box">
        <img src="../../assets/3dImage/1.jpg" alt=""/>
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/2.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/3.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/4.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/5.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/6.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/7.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/8.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/9.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/10.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/11.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/12.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/13.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/14.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/15.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/16.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
          
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/17.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/3dImage/18.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Revit 3D</p>
          </div>
        </div> 
      </div>
    </div>
  </body>