<body>
    <p class="heading">Site Projects</p>
    <div class="gallery-image">
      <div class="img-box">
        <img src="../../assets/Simage/1.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/2.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/3.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Tea Talk</p>
            <p class="opacity-low">Site</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/4.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
          
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/5.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/6.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Cinematic</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/7.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/8.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/9.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/10.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/11.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/12.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/13.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/14.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/15.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/16.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/17.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/18.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/19.jpeg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/20.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/Simage/21.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">Site</p>
          </div>
        </div> 
      </div>
    </div>
  </body>