<body>
    <p class="heading">2D Drawing </p>
    <div class="gallery-image">
      <div class="img-box">
        <img src="../../assets/2dImage/1.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
         
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/2.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
          
            <p class="opacity-low">AutoCad</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/3.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/4.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
        
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/5.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
           
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/6.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/7.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/8.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/9.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/10.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/11.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/12.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/13.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/14.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/15.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/16.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/17.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/18.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/19.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="../../assets/2dImage/20.png" alt="" />
        <div class="transparent-box">
          <div class="caption">
            
            <p class="opacity-low">AutoCad</p>
          </div>
        </div> 
      </div>
    </div>
  </body>